@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: #09090b;
  color: white;
  overflow: hidden;
}

* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}